<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
    </head>
    <body>
        <div style="background-color: #000; color: black;">
            <div class="container">
                <h1 style="margin:0px;"><a style="text-decoration:none; color:white;" href="/"><span>Ecommerce </span></a></h1>
                <a style="text-decoration:none; color:white;" href="/customerlogin">Connexion</a>
                &nbsp;
                <a style="text-decoration:none; color:white;" href="/customersignup">Inscription</a>
                &nbsp;
                <a style="text-decoration:none; color:white;" href="/cart">Panier</a>
            </div>
        </div>
    </body>
</html>
